---
# System
timezone: America/New_York  # pick one from: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
locale: en_US.UTF-8

# General
domain: app.yourdomain.com
app_name: sample_app
user: deploy
password: 123abc
email: email_for_certbot@example.com

ssh_public_key_files:
  - /Users/your_home_folder/.ssh/id_rsa.pub

# Postgres
postgresql_version: 12
postgresql_ext_install_dev_headers: yes
database_password: 123abc

# Ruby
ruby_install_version: 0.7.0
chruby_version: 0.3.9
ruby_version: 2.7.1

# Node.js
nodejs_version: "12.x"

# Puma (application server)
# You may tune the values below to optimize throughput based on your server's resources.
# See https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server for additional information.
puma_workers: 2  # More workers increase memory (RAM) usage.
puma_threads: 4,16  # Min, Max number of threads. More threads increase CPU usage.
